<!DOCTYPE html>

<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="layout/header.css">
    </head>
    <body>
        <div class="header">
            <a href="#default" class="logo">Driving Lessons</a>
            <div class="header-right">
                <a href="#home">Sign in / Sign up</a>
            </div>
        </div>
    </body>
</html>
