<!DOCTYPE html>

<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="layout/sidenav/sidenav.css">
    </head>
    <body>
        <div class="sidenav">
            <a href="#">Enroll</a>
            <a href="#">Instructor Registration</a>
            <a href="#">Approve Client</a>
            <a href="#">Confirm License</a>
            <a href="#">Class List</a>
        </div>
    </body>
</html>
